#map { height: 800px;
  width: 600px;
}

.home {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.column {
  float: left;
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
